#stevenscreek {
  width: 90vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(50, 50, 51, 0.1);
}

h1 {
  display: block;
  margin: auto;
  text-align: center;
  color: rgba(51, 51, 50, 0.9);
}

.slider {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.unitDisplay {
  display: flex;
}

#input {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#input > div, #input > input {
  padding: 0.5rem;
}

/* css spinner */

#loader {
  position: fixed;
  background-color: rgba(2,12,21,0.3);
  left: 0;
  top: 0;
}
#loader::before {
  content: '';
  box-sizing: border-box;
  width: 10vw;
  height: 10vw;
  border-radius: 48%;
  border-width: 0.5rem 0.1rem;
  border-style: groove;
  border-color: rgba(90, 210, 255, 0.3) transparent rgba(50, 159, 221, 0.9);
  position: absolute;
  left: 45vw;
  top: 35vh;
  animation: rotation 1s linear infinite;
}
#loader::after {
  content: 'loading';
  position: absolute;
  top: 52vh;
  left: 40vw;
  text-align: center;
  width: 20vw;
  color: rgba(50, 159, 221, 0.9);
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(90, 210, 255, 0.3);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* map */

.ol-attribution {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: small;
}

.ol-collapsed ul {
  visibility: hidden;
}

.ol-attribution ul {
  list-style: none;
}
