#stevenscreek {
  width: 90vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(50, 50, 51, 0.1);
}

h1 {
  display: block;
  margin: auto;
  text-align: center;
  color: rgba(51, 51, 50, 0.9);
}

.slider {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.unitDisplay {
  display: flex;
}

#input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  max-width: 80%;
  margin: auto;
}

#input > div {
  flex: 1 1 0;
}

.area {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

.area > div {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}

/* css spinner */
#loader {
  position: fixed;
  background-color: rgba(2,12,21,0.3);
  left: 0;
  top: 0;
}
#loader::after,
#loader::before {
  content: '';
  box-sizing: border-box;
  width: 20vw;
  height: 20vw;
  border-radius: 48%;
  border-width: 0.5rem;
  border-style: groove none;
  border-color: rgba(90, 210, 255, 0.3) transparent rgba(50, 159, 221, 0.9);
  position: absolute;
  left: 40vw;
  top: 35vh;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
