#stevenscreek {
  width: 80vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(50, 50, 51, 0.1);
}

h1 {
  display: block;
  margin: auto;
  text-align: center;
  color: rgba(51, 51, 50, 0.9);
}

.slider {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 1rem;
}
.unitDisplay {
  display: flex;
}
